* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

@font-face {
    font-family: 'Expressway Free';
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cirqua';
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cirqua';
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Star Avenue';
    font-weight: normal;
    font-style: normal;
}


body{
    height: auto;
    width: auto;

}
/*Header*/
header{
    width: auto;
    height:auto;
    background-image: linear-gradient(#6b6969, #d0cdcd);

}

.name img {
    width:115px ;
    height: 115px;
    border-radius: 50%;
    position:absolute;
    z-index: 5;
    padding:5px;
    box-shadow: 0 10px 8px 0 rgba(0,0,0,0.2);;


}
.name{
    display: flex;
    width: 200px;
    height:auto;
    justify-content: center;
}

h1{
    font-size: 25px;
    text-align: center;
    padding: 10px 0;
    font-style: italic;
    background-image: linear-gradient(#c03939, #d0cdcd);

}


.row {
    width: auto;
    background-image: linear-gradient(#6b6969, #d0cdcd);
    height: 70px;
    display:flex;
    justify-content:end;


}
 a.active, .dot {
    background-color: #332d2d;
     color: #c03939;
}

header nav a {
    display: inline-block;
    text-align: center;
    color: rgba(173, 163, 163, 0.27);
    text-decoration: none;
    font-size: 20px;
    padding: 25px;
    color: #0a0c10;
    height: 70px;

}
button{
    border: none;
    cursor: pointer;
    float: right;



}
.button{

    padding: 10px;
}

.button img, button {
    border-radius: 10%;
    width: 45px;
    height: 30px;
    background-color: transparent;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
    z-index: 1;

}


.dropdown:hover .dropdown-content {display: block;}


.dropdown-content a {
    float: none;
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
    text-align: left;
    justify-content: flex-end;

}
/*.button{*/
/*    overflow: hidden;*/
/*}*/



/*slideshow-container*/


figure img {
    height: 140px;
    width: 240px;
    display: flex;
    z-index: 2;
    padding-top:5px;
    justify-content: center;

}
.section{
   width:auto;
    height: 450px;
    padding: 10px;
    margin: 10px;


}
/*.mySlides  {*/
/*    max-width: 1100px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    height: 350px;*/
/*}*/
.service{
    display:flex;
    flex-wrap: nowrap;
    justify-content:center;
    width:auto;
    height: 450px;
    padding: 10px;
    margin: 10px;
    background-image: linear-gradient(#8f8e8e, #d0cdcd)


}


#cta{
    display:flex;
    justify-content: center;
    margin: 10px;

}
#cta img {
    width: 350px;
    height: 250px;
}
#cta .wrapper{
    display: block;
    justify-content: start;
    width: 400px;
    height: auto;

}
#cta a {
    float: none;
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
    text-align: left;
    justify-content: flex-end;
}
#cta a:hover{
    background-color:transparent ;
}
.service p {
    text-align: justify;
    font-size:15px;
    margin:7px;

}
.service_icon{
    text-align: center;
    box-shadow: 15px 15px #eeeaea;


}
figure {
    width: 280px;
    padding:20px;
    height: auto;
    margin: 15px;
}
.caption_{
    padding:15px;
    font-size:20px;
    font-weight: bold;

}
h3{
    margin: auto;
    font-size: 18px;
    padding: 15px;
    color:rgb(153, 153, 152);
}

a:hover
{
    color: rgb(255, 255, 255);
    background-color: rgb(51, 45, 45);
}
/*.mySlides {display:none}*/
/*.slideshow-container img {*/
/*    vertical-align: middle;*/
/*    width: 1000px;*/
/*    height: 550px;*/

/*}*/

/*.slideshow-container {*/
/*    position: relative;*/
/*    margin: auto;*/
/*    box-sizing: border-box;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    max-width: 1000px;*/
/*    height: 550px;*/



/*}*/

/*.prev, .next {*/
/*    cursor: pointer;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    width: auto;*/
/*    padding: 16px;*/
/*    margin-top: 22px;*/
/*    color: rgba(255, 255, 255, 0.27);*/
/*    font-weight: bold;*/
/*    font-size: 18px;*/
/*    transition: 0.6s ease;*/
/*    border-radius: 0 3px 3px 0;*/
/*    user-select: none;*/

/*}*/

/*.next,  .dot{*/
/*    right: 0;*/
/*    border-radius: 3px 0 0 3px;*/
/*    background-color: #969595;*/

/*}*/

/*.prev:hover,.dot:hover, .next:hover {*/
/*    background-color: rgba(19, 17, 17);*/
/*}*/


/*.text {*/
/*    color: black;*/
/*    font-size: 15px;*/
/*    padding: 8px 12px;*/
/*    position: absolute;*/
/*    bottom: 8px;*/
/*    width: 100%;*/
/*    text-align: center;*/
/*}*/

/*!* Number text (1/3 etc) *!*/
/*.numbertext {*/
/*    color: rgba(14, 14, 14, 0.27);*/
/*    font-size: 12px;*/
/*    padding: 12px 12px;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    background-color: #717171;*/
/*}*/


/*!* The dots/bullets/indicators *!*/
/*.dot {*/
/*    cursor: pointer;*/
/*    height: 15px;*/
/*    width: 15px;*/
/*    margin: 0 2px;*/
/*    background-color: #6b6969;*/
/*    border-radius: 50%;*/
/*    display: inline-block;*/
/*    transition: background-color 0.6s ease;*/
/*}*/

/*.active, .dot:hover {*/
/*    background-color: #0c0c0c;*/
/*}*/
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;

    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}
.wrapper{
    display: flex;
    justify-content:center;
    margin: 15px;
    flex-wrap: nowrap;
    width:auto;
    height: 400px;

}

.overlay #part2 {
    width: 400px;
    text-align: start;


}
.overlay {
    width: 450px;
    text-align: start;
    padding: 20px;
    box-shadow: 0 1px 10px 1px #717171;

}

.overlay p{
    display:block;
    width: 420px;
    justify-content: center;
    padding: 10px;


}
.overlay  img{
  width: 300px;
    height:auto;
    margin: 15px;
    box-shadow: 38px 0  28px 0 #6b6969;
    display: flex;
    justify-content: center;


}
.overlay a {
    display:flex;
    justify-content: center;
    flex-wrap: nowrap;
    text-align: center;
    color: rgba(173, 163, 163, 0.27);
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    color: #0a0c10;
    width: 120px;
    background-color: #c03939;
    box-shadow: 8px 0  8px 0 #6b6969;

}
/*article{*/

/*}*/
/*article img{*/
/*    border-radius: 50%;*/
/*    width: 250px;*/
/*    height: 250px;*/
/*    display: block;*/


/*}*/
.wrapper1 .overlay{
    display: flex;
    justify-content: center;

}
.wrap{
    display:flex;
    flex-wrap: nowrap;
    justify-content:center;
    width:auto;
    height: auto;
    padding: 10px;
    margin: 10px;
}
.wrap p{
    display: block;
    justify-content: start;

}
.wrap img {
    height: 250px;
    width: 250px;
    display: flex;
    z-index: 2;
    padding-top:5px;
    justify-content: center;
    border-radius: 50%;

}
.wrap  figure #1 .service_icon {
    display:inline;
    justify-content:space-between;

    width: auto;



}
.wrap figure #1{
    padding-top: 50px;
}
/* Fading animation */
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 0.5ms;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
.event-content{
    background-image: url("events.jpg");
    width: auto;
    height: 400px;
}

/*footer*/

footer{
    width: auto;
    height: 250px;
}

.footer-content{
    display: flex;
    justify-content:space-between;
    background-image: linear-gradient(#c03939, #969292);
    padding: 10px 40px;
}

footer ul li a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    color: #0a0c10;
    justify-content: flex-start;

}
footer ul li {
    list-style-type: none;
}


.contact-us div{
    display:block;
    text-align: center;
    padding: 20px;
    justify-content:center;

}

footer .name img {
    width:100px ;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    z-index: 5;
    box-shadow: 0 10px 8px 0 rgba(0,0,0,1);;


}
footer h1{
    padding-top: 120px;
    text-shadow: 0 8px 8px 8px rgba(0,0,0,1);
    font-size: 15px;
}
.footer-content img{
    width: 50px;
    height: 50px;

}
footer .end{
    display: flex;
    justify-content:center;
    width: auto;
    height: 40px;
    background-image: linear-gradient(#d0cdcd, #332d2d);
    padding-top: 15px;
}


